@using RentCar.Models.ViewModels
@model CarsViewModel

<!-- masinlar olan sehife -->
<div class="bodycontainer">
    <div class="axtariscontainer">
        <form>
            <select class="selectmarka">
                <option value="-1" selected disabled>MARKA</option>
                <option value="0">Hamısı</option>
                @foreach (var item in Model.FilterData.FilterMarks)
                {
                    <option value="@item.MarkId">@item.MarkName</option>
                }
            </select>
            <select class="selectmodel">
                <option value="" selected disabled>MODEL</option>
                <option value="0">Hamısı</option>
                @*      @foreach (var modelim in Model.FilterData.FilterModels)
                    {
                    <option value="">@modelim.ModelName</option>
                    }*@
            </select>
            <select class="selectyear">
                <option value="" selected disabled>IL</option>
               <option value="0">Hamısı</option>

                @foreach (var item in Model.FilterData.FilterYears)
                {
                    <option value="@item">@item</option>
                }
            </select>
            <select class="selectcategory">
                <option value="" selected disabled>KATEQORİYA</option>
               <option value="0">Hamısı</option>

                @foreach (var item in Model.FilterData.FilterCategories)
                {
                    <option value="@item.CategoryId">@item.CategoryName</option>
                }
            </select>
            <div class="pricerange">
                <p for="">Qiymət :</p>
                <input type="text" placeholder="Min" class="inpminprice">
                <input type="text" placeholder="Max" class="inpmaxprice">
            </div>
            <div class="btnaxtar"><a href="">Axtar</a></div>
        </form>
    </div>

    <div class="productcontainer">
        @foreach (var item in Model.CardsInfo)
        {
            <div class="product">
                <img src="@item.ImageBase64" alt="">
                <div class="imgdetails"><a href="/Home/CarDetails/@item.CarId"><i class="fa-solid fa-magnifying-glass"></i></a></div>
                <div class="productbasliq">
                    <div class="marka">@item.Marka @item.Model </div>
                    <div class="qiymet"><span>@item.Price</span>$ / gün</div>
                </div>
                <div class="kateqoriya">@item.Category</div>
                <hr>
                <div class="xususiyyetler">
                    <ul>
                        <li><i class="fa-solid fa-calendar-days"></i>@item.Year</li>
                        <li><i class="fa-solid fa-road"></i>@item.EngineType</li>
                        <li><i class="fa-solid fa-bolt"></i>@item.Volume <span>L</span></li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<script>

    //filterde markaya uygun modelin gelmesi
    $(".selectmarka").change(function(x) {
        var selectedMarkVal = $( ".selectmarka option:selected" ).val();
        $.ajax({
                type: "Get",
                url: '@Url.Action("GetModels","Home")',
                data: {
                id:selectedMarkVal
                },
                contentType: "application/json; charset=utf-8",
                success:
                    function (returndata) {
                    $(".selectmodel").children().remove().end()
                      $(".selectmodel").append(`<option value="" selected disabled>MODEL</option>`)

                    $.each(returndata,function(i,item){
                        var option = new Option(item["modelName"],item["modelId"]);
                        $(".selectmodel").append($(option))
                    })
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
    });

    //filterleme prosesi
        $('.btnaxtar').on("click",function(e) {
        e.preventDefault()

        var marka = $( ".selectmarka option:selected" ).val();
        var model = $( ".selectmodel option:selected" ).val();
        var year = $( ".selectyear option:selected" ).val();
        var category = $( ".selectcategory option:selected" ).val();
        var minPrice = $(".inpminprice").val();
        var maxPrice = $(".inpmaxprice").val();
        var  model ={
                 "filterMarkaId": marka,
                 "filterModelId":  model,
                 "filterCategoryId": category,
                 "minPrice":  minPrice,
                 "maxPrice":  maxPrice,
                 "filterYear": year,
        };

         $.ajax({
                    type: "Get",
                    url: '@Url.Action("GetFilterData","Home")',
                    data: model,
                    dataType:"json",
                    success:function (returndata) {
                        let cardHtml =`
                  <div class="product">
                <img src="ImageBase64" alt="" class="cardImage">
                <div class="imgdetails"><a href="/Home/CarDetails/CarId"><i class="fa-solid fa-magnifying-glass"></i></a></div>
                <div class="productbasliq">
                    <div class="marka">Markaa Modell</div>
                    <div class="qiymet"><span>Price</span>$ / gün</div>
                    Category
                </div>
                <hr>
                <div class="xususiyyetler">
                    <ul>
                        <li><i class="fa-solid fa-calendar-days"></i>Year</li>
                        <li><i class="fa-solid fa-road"></i>EngineType</li>
                        <li><i class="fa-solid fa-bolt"></i>Volume <span>L</span></li>
                    </ul>
                </div>
            </div>
           `;
                   $(".productcontainer").children().remove().end()

                    returndata.forEach(function(ele){
                             let textHtml =cardHtml;
                             textHtml =textHtml.replace("ImageBase64",ele.imageBase64)
                             textHtml =textHtml.replace("Markaa",ele.marka)
                             textHtml =textHtml.replace("CarId",ele.carId);
                             textHtml =textHtml.replace("Markaa",ele.marka);
                             textHtml =textHtml.replace("Modell",ele.model);
                             textHtml =textHtml.replace("Price",ele.price);
                             textHtml =textHtml.replace("Category",ele.category);
                             textHtml =textHtml.replace("Year",ele.year);
                             textHtml =textHtml.replace("EngineType",ele.engineType);
                             textHtml =textHtml.replace("Volume",ele.volume);
                             $(".productcontainer").append(textHtml)
                         });
      
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
    });

</script>

