@using RentCar.Models.ViewModels
@model CarsViewModel

<!-- masinlar olan sehife -->
<div class="bodycontainer">
    <div class="axtariscontainer">
        <form>
            <select class="selectmarka">
                <option value="" selected disabled>MARKA</option>
                @foreach (var item in Model.FilterData.FilterMarks)
                {
                    <option value="@item.MarkId">@item.MarkName</option>
                }
            </select>
            <select class="selectmodel">
                 <option value="" selected disabled>MODEL</option>
                @*      @foreach (var modelim in Model.FilterData.FilterModels)
                    {
                    <option value="">@modelim.ModelName</option>
                    }*@
            </select>
            <select class="selectyear">
                <option value="" selected disabled>IL</option>
                @foreach (var item in Model.FilterData.FilterYears)
                {
                    <option value="">@item</option>
                }
            </select>
            <select class="selectcategory">
                <option value="" selected disabled>KATEQORİYA</option>
                @foreach (var item in Model.FilterData.FilterCategories)
                {
                    <option value="">@item.CategoryName</option>
                }
            </select>
            <div class="pricerange">
                <p for="">Qiymət :</p>
                <input type="text" placeholder="Min" class="inpminprice" >
                <input type="text" placeholder="Max"  class="inpminprice" >
            </div>
            <div class="btnaxtar"><a href="">Axtar</a></div> 
        </form>
    </div>

    <div class="productcontainer">

        @foreach (var item in Model.CardsInfo)
        {
            <div class="product">
                <img src="@item.ImageBase64" alt="">
                <div class="imgdetails"><a href="/Home/CarDetails/@item.CarId"><i class="fa-solid fa-magnifying-glass"></i></a></div>
                <div class="productbasliq">
                    <div class="marka model">@item.Marka @item.Model</div>
                    <div class="qiymet"><span>@item.Price</span>$ / gün</div>
                </div>
                <hr>
                <div class="xususiyyetler">
                    <ul>
                        <li><i class="fa-solid fa-calendar-days"></i>@item.Year</li>
                        <li><i class="fa-solid fa-road"></i>@item.EngineType</li>
                        <li><i class="fa-solid fa-bolt"></i>@item.Volume <span>L</span></li>
                    </ul>
                </div>
            </div>
        }

    </div>
</div>

<script>
    //filterde markaya uygun modelin gelmesi 

    $(".selectmarka").change(function(x) {
        var selectedMarkVal = $( ".selectmarka option:selected" ).val();
        $.ajax({
                type: "Get",
                url: '@Url.Action("GetModels","Home")',
                data: {
                id:selectedMarkVal
                },
                contentType: "application/json; charset=utf-8",
                success: 
                    function (returndata) {
                    $(".selectmodel").children().remove().end()
                      $(".selectmodel").append(`<option value="" selected disabled>MODEL</option>`)
                    
                    $.each(returndata,function(i,item){
                        var option = new Option(item["modelName"],item["modelId"]);
                        $(".selectmodel").append($(option))
                    })
                },
                error: function () {
                    alert("Error while inserting data");
                }
            });
    });

    //filterleme prosesi
        $('.addNewCarSubmit').on("click",function(e) {
       e.preventDefault()

        var marka = parseInt($( ".selectmarka option:selected" ).val());
        var model = $( ".selectmodel option:selected" ).val();
        var category = $( ".selectcategory option:selected" ).val();
        var price = $(".inpprice").val();
        var year = $(".inpyear").val();
        var enginetype = $( ".selectenginetype option:selected" ).val();
        var volume = $(".inpvolume").val();

        var fileInput = $('.mainImage')[0];
        var file = fileInput.files[0];

        var formData = new FormData();
            $.each($(".images")[0].files, function(i, file) {
              formData.append('images', file);
            });
        formData.append("MarkId" ,marka);
        formData.append("ModelId" , model);
        formData.append("CaregoryId" ,category);
        formData.append("Price" , price);
        formData.append("Year" , year);
        formData.append("EngineTypeId" , enginetype);
        formData.append("Volume" , volume);
        formData.append('MainImage',file);
        console.log(formData);
         $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveNewCar","Home")',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success:function (data) {
                        Swal.fire({    
                                icon: 'success',
                                title: 'Yeni maşın əlavə olundu',
                                showConfirmButton: false,
                                timer: 1500
                             })
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
    });

</script>

