@using RentCar.Models.Models
@model List<CardsInfo>

 <div class="divlist">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Şəkil</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Kateqoriya</th>
                    <th>Qiymət</th>
                    <th>İl</th>
                    <th>Mühərrik tipi</th>
                    <th>Mühərrik həcmi</th>
                    <th>Əlavə olunma vaxtı</th>
                    <th>Əlavə edən şəxs</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>          
                @foreach (var item in Model)
               {
                   <tr>
                    <td>@item.CarId</td>
                    <td><img src="@item.ImageBase64" alt=""></td>
                    <td>@item.Marka</td>
                    <td>@item.Model</td>
                    <td>@item.Category</td>
                    <td>@item.Price azn / gün</td>
                    <td>@item.Year</td>
                    <td>@item.EngineType</td>
                    <td>@item.Volume l</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.CreatedUser</td>
                    <td>
                        <a href="" class="btnedit"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="" class="btndelete"><i class="fa-solid fa-trash-can"></i></a>
                        <a href="/Home/CarDetails/@item.CarId" class="btndetails"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </td>
                </tr>
               }
               
           </tbody>
        </table>
    </div>